body {
    font-family: Arial;
    background: #d4d4ff;
}

header {
    background: #67d4f9;
    padding: 10px;
}

header h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

header nav {
    text-align: center;
    background: #2a86a5;
}

header nav a {
    background: #128fb9;
    color: #000;
    margin-right: 10px;
    padding: 5px;
}

header nav a:hover {
    background: #fff;
}

main {
    background: white;
    padding: 10px;
}

main section h2 {
    color: #2a86a5;
}

main section div {
    overflow: auto;
}

main section div img {
    max-width: 300px;
    float: left;
    border: 1px solid #000;
}

main section div p {
    margin-left: 5px;
    float: left;
}

.see-more {
    color: red;
    font-weight: bold;
}

.counter {
    display: inline-block;
    position: relative;
}

.counter span {
    position: absolute;
    border-radius: 50%;
    left: 100%;
    padding: 2px;
    font-size: 10px;
    top: 0;
    background: red;
    margin-top: -10px;
    margin-left: -10px;
}

@media only screen and (max-width: 640px) {
    header nav a {
        display: block !important;
        margin-right: 0 !important;
    }

    main section div img,
    main section div p {
        width: 100% !important;
        display: block !important;
    }

    main section div {
        padding: 5px;
    }

    main section div p {
        margin-right: 0;
    }

    main section div img {
        max-width: none !important;
    }

}