body {
    font-family: Arial;
    background: #d4d4ff;
}
header {
    background: #67d4f9;
    padding: 10px;
}
header nav {
    text-align: center;
    background: yellow;
    padding: 5px;
}
header nav a {
        background: #000000;;
}
main  {
    background:white;
}
main section h2 {
    color: blue;
}
h1 {
    margin-top: 0;
    margin-bottom: 5px;
}
main {
    background: white;
    padding: 10px;
}
main section p a{
    color: red;
} 
.green {
    color: green;
}
.see-more{
    color: red;
    font-weight: bold;
}
